.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 80px 10px;
    min-height: 100vh;
}


.photo {
    width: 60%;
}

.aboutData{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.aboutData > p > span {
    display: block;
    font-size: 13px;
    color: var(--grey);
    line-height: 20px;
    margin: 10px auto;
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .photo {
        width: 100%;
    }

    .aboutData > p > span {
        font-size: 16px;
        margin: 20px auto;
    }
    
    .ticket {
        margin: auto;
    }
}