.buttonBody {
    background: transparent;
    border: 0.3px solid var(--dark-violet);
    display: flex;
    justify-content: space-around;
    min-width: max-content;
    width: 8em;
    border-radius: 16px;
    padding: 8px 15px;
    margin: 16px auto;
    transition: .1s ease-in;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -ms-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    cursor: pointer;
}

.buttonText {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-violet);
    margin: auto 6px;
}

.buttonIcon {
    font-size: 15px;
}

.buttonBody:hover {
    background-color: var(--light-background);
}

