.container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	min-height: 10rem;
	margin: 2rem auto;
	gap: 10px;
}

.cardContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--dark-violet);
	border-radius: 8px;
	max-width: 17rem;
	min-height: 10rem;
	padding: 20px;
	margin: 0.8rem auto;
	transition: 0.2s ease-in-out;
}

.cardContainer:hover {
	background-color: var(--light-background);
	transform: scale(1.02);
}

.cardContainer p {
	font-size: 12px;
	color: grey;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 15px;
	position: relative;
	width: 100%;
}
