.container {
    height: 64px;
    width: 80%;
    background: var(--element-background);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin: 18px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
}