.container {
    padding: 4px 16px;
    background-color: var( --light-background);
    color: var(--first-color);
    max-width: max-content;
    font-weight: 700;
    border-radius: 15px;
    margin: 20px 0;
}

.containerSmall {
    padding: 4px 16px;
    background-color: var( --light-background);
    color: var(--first-color);
    max-width: max-content;
    font-weight: 700;
    border-radius: 15px;
}

.container > div {
    text-align: center;
}

.containerSmall > div {
    text-align: center;
    font-size: 12px;
}